<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Cuentas</title>
  </head>

  <body>
    <div class="user-franja">
      <button id="userInfoButton"></button>
      <button id="logoutButton">Cerrar Sesión</button>
    </div>
    <div class="cuentas-container">
      <div class="search-bar">
        <input
          type="text"
          id="accountSearch"
          placeholder="Buscar en las cuentas..."
        />
        <button id="searchButton">Buscar</button>
        <button id="mapButton" onclick="window.location.href='/mapaSucursales'">
          Ver Mapa
        </button>
      </div>
      <div id="cuentas-list" class="cuentas-list">
        <!-- Branch items will be populated here -->
      </div>
    </div>

    <div id="modal-container">
      <div id="custom-modal" class="modal-container hidden">
        <div class="modal">
          <div class="modal-header">
            <h2 id="modal-title"></h2>
          </div>
          <div class="modal-content">
            <p id="modal-content"></p>
          </div>
          <div class="modal-footer">
            <button id="modal-ok-button" class="btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="/controller/modal.js"></script>
    <script type="module" src="/controller/cuentasController.js"></script>
    <script type="module" src="/controller/userInfo.js"></script>
  </body>
</html>
