<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Editar Sucursal</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="login-body">
    <div class="login-container">
      <div class="login-card">
        <img src="/images/logo_login.png" alt="Logo" class="logo" />
        <h2>Editar Sucursal</h2>
        <form id="editSucursalForm">
          <input type="hidden" id="sucursalId" />
          <input type="text" id="nombre" placeholder="Nombre" required />
          <!-- <input type="text" id="codigo" placeholder="Código" required /> -->
          <input type="text" id="ciudad" placeholder="Ciudad" required />
          <input type="text" id="direccion" placeholder="Dirección" required />
          <!-- <input
            type="text"
            id="cuentaContable"
            placeholder="Cuenta Contable"
            required
          /> -->
          <input type="text" id="latitude" placeholder="Latitud" required />
          <input type="text" id="longitude" placeholder="Longitud" required />
          <button type="submit" class="btn-primary">Guardar</button>
        </form>
        <button
          onclick="window.location.href='/sucursales'"
          class="btn-secondary"
        >
          Volver
        </button>
      </div>
    </div>
    <div id="modal-container"></div>

    <script>
      fetch("/modal.html")
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("modal-container").innerHTML = html;
          const modalOkButton = document.getElementById("modal-ok-button");
          if (modalOkButton) {
            modalOkButton.addEventListener("click", closeModal);
          }
        });
    </script>

    <script type="module" src="/controller/modal.js"></script>
    <script type="module" src="/controller/editSucursalController.js"></script>
  </body>
</html>
